
body{
  background-color: black;
}

.quote-box{
  align: center;
  margin :20% auto auto auto;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  width: 450px;
  display: table;
  font-size: 20px;
}

#quote-author{
  text-align: right;
  font-size: 25px;
  font-weight: 20px;


}

#next{
    position: block;
    align: right;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px;

}
#tweet{
  padding-left: 5px;
  color: #33F0FF;
  align:center;
   border: none;
   margin: 5px;
   position: relative;

}
